@model WebApplication1.Models.ClientTestDisplay

<div class="row section">
    <div class="col-sm-12">
        <div class="row paragraph">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2>@GroupPackageApp.Resources.Test.Views.Resource.PASNPQuestionnaireTitle</h2>
                <p>@Html.Raw(GroupPackageApp.Resources.Test.Views.Resource.PASNPDescription)</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
							<!-- ko foreach: $root.Package -->
							<!-- ko if: $data.ActivityID == 14 -->
							<!-- ko foreach: $data.Activities -->
							<!-- ko if: $data.QuestionType == "SingleChoiceQuestion" -->
							<!--ko if:$index() % 10 == 0-->
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@GroupPackageApp.Resources.Test.Views.Resource.Tbl_NoneOfTheTime</th>
                                <th>@GroupPackageApp.Resources.Test.Views.Resource.Tbl_VeryRarely</th>
                                <th>@GroupPackageApp.Resources.Test.Views.Resource.Tbl_LittleOfTheTime</th>
                                <th>@GroupPackageApp.Resources.Test.Views.Resource.Tbl_SomeOfTheTime</th>
                                <th>@GroupPackageApp.Resources.Test.Views.Resource.Tbl_MostOfTheTime</th>
                                <th>@GroupPackageApp.Resources.Test.Views.Resource.Tbl_GoodPartOfTheTime</th>
                                <th>@GroupPackageApp.Resources.Test.Views.Resource.Tbl_AllOfTheTime</th>
                            </tr>

                            <!-- /ko -->
							<!-- /ko -->

                            @Html.Partial("SingleChoice")

                            <!-- /ko -->
                            <!-- /ko -->
							<!-- /ko -->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


