@using System.Web.Optimization
@using Questionnaire.Helpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="BaseURL" content='@Url.FullyQualifiedApplicationPath()' />

    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Less")
    @Styles.Render("~/Content/Kendo")
    @Styles.Render("~/Content/ReportViewer")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/signals")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/utilities")
    @Scripts.Render("~/bundles/Kendo")
    @Scripts.Render("~/bundles/ReportViewer")
    
    <script type="text/javascript">
        $(document).ready(function () {
            $("[data-jvfloat='True']").jvFloat();
            Utilities.setup.fixPlaceholderNumberInputs();
        });
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row" id="header">
            <a href="@Url.Action("Index","Home")">
                <img src="~/Content/Images/logo.jpg" />
            </a>
        </div>
        @RenderBody()
        <div class="row" id="footer">
            <div class="col-sm-12"><a class="" href="@Url.Action("ValidateClientID", "Home")" title="@Questionnaire.Resources.Home.Views.Resource.BtnClientOverride">@Questionnaire.Resources.Home.Views.Resource.BtnClientOverride</a></div>
            <div class="col-sm-12">&copy; @DateTime.Now.Year @Questionnaire.Resources.Shared.Views.Resource.CopyrightText</div>
        </div>
    </div>
</body>
</html>

