@using Questionnaire.Helpers
@model Questionnaire.Models.LanguageSelect

@{
    //ViewBag.Title = Questionnaire.Resources.Home.Views.Resource.PageTitleLanguageSelect;
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="row section">
    <div class="col-sm-12">
        <div class="row paragraph">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                @*<h2>@Questionnaire.Resources.Home.Views.Resource.PageTitleLanguageSelect</h2>
                <p>@Questionnaire.Resources.Home.Views.Resource.PageDescriptionLanguageSelect</p>*@
                <h2>Welcome to our Online Questionnaire</h2>
                <p>
                   In an effort to replace the current paper questionnaires and improve our processes, we are currently piloting a new, online process. Please read and follow all instructions carefully.  If you encounter any issues or have any questions, please return to the front desk.  
                </p>
            </div>
            <div class="col-sm-2"></div>
        </div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {id = "form-LanguageSelect"}))
        {
            @Html.AntiForgeryToken()
            @*<div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    @Html.ValidationMessage("SelectLanguageError")
                    @Html.ValidationMessageFor(m=>m.Language)
                </div>
                <div class="col-sm-3"></div>
            </div>*@
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @*@Html.DropDownListFor(m=>m.Language, Model.LanguageSelectList.ToList(),Questionnaire.Resources.Home.Views.Resource.SelectLanguage,new{placeholder=Html.DisplayNameFor(m=>m.Language), data_jvfloat=true})*@
                        @Html.Hidden("Language", "en-CA")
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <button type="submit" class="btn" title="@Questionnaire.Resources.Home.Views.Resource.BtnNext">@Questionnaire.Resources.Home.Views.Resource.BtnNext<i class="fa fa-caret-right"></i></button>
                </div>
                <div class="col-sm-3"></div>
            </div>
        }

    </div>
</div>

<script>
    $(document).ready(function() {
        Utilities.setup.setupPageDropDownStyling($('#form-LanguageSelect'));

        var w = $('select').width();

        $('option').width(w);
        
    });
    
</script>
