@using Questionnaire.Helpers
@{
    ViewBag.Title = Questionnaire.Resources.Home.Views.Resource.PageTitleClientOverride;
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="row section">
    <div class="col-sm-12">
        <div class="row paragraph">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2>@Questionnaire.Resources.Home.Views.Resource.PageTitleClientOverride</h2>
                <p>@Questionnaire.Resources.Home.Views.Resource.PageDescriptionClientOverride</p>
            </div>
            <div class="col-sm-2"></div>
        </div>

        @using (Html.BeginForm("SelectTest", "Test", FormMethod.Post))
        {
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.ValidationMessage("ClientID")
                    </div>                    
                    <div class="form-group">
                        @Html.TextBox("ClientID", null, new { @class = "required", type = "number", pattern = "\\d*", placeholder = Questionnaire.Resources.Home.Models.Resource.ClientID, data_jvfloat = true,  data_errorSelector = "Override", @autocomplete="off" })   
                    </div>
                    <div class="form-group">
                        @Html.ValidationMessage("IntakeFileID")
                    </div>
                    <div class="form-group">
                        @Html.TextBox("IntakeFileID", null, new { @class = "required", type = "number", pattern = "\\d*", placeholder = Questionnaire.Resources.Home.Models.Resource.IntakeID, data_jvfloat = true, data_errorSelector = "Override", @autocomplete="off" })
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <button class="btn" id="ValidateClientSubmit" title="@Questionnaire.Resources.Home.Views.Resource.BtnNext" type="submit" value="Next">@Questionnaire.Resources.Home.Views.Resource.BtnNext</button>
                </div>
                <div class="col-sm-3"></div>
            </div>
        }
    </div>
</div>
