@using WebApplication1.Helpers

@{
    //ViewBag.Title = WebApplication1.Resources.Home.Views.Resource.PageTitleLanguageSelect;
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row section">
    <div class="col-sm-12">
        <div class="row paragraph">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                @*<h2>@WebApplication1.Resources.Home.Views.Resource.PageTitleLanguageSelect</h2>
    <p>@WebApplication1.Resources.Home.Views.Resource.PageDescriptionLanguageSelect</p>*@
                <h2>Welcome to our Online Group Questionnaire</h2>
                <p>
                    In an effort to replace the current paper questionnaires and improve our processes, we are currently piloting a new, online process. Please read and follow all instructions carefully. If you encounter any issues or have any questions, please return to the front desk.
                </p>
            </div>
            <div class="col-sm-2"></div>
        </div>
        @using (Html.BeginForm("SelectGroupProgram", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @*<div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        @Html.ValidationMessage("SelectLanguageError")
                        @Html.ValidationMessageFor(m=>m.Language)
                    </div>
                    <div class="col-sm-3"></div>
                </div>*@
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <button type="submit" class="btn" title="@GroupPackageApp.Resources.Home.Views.Resource.BtnNext">@GroupPackageApp.Resources.Home.Views.Resource.BtnNext<i class="fa fa-caret-right"></i></button>
                </div>
                <div class="col-sm-3"></div>
            </div>
        }

    </div>
</div>