@model WebApplication1.Models.SelectGroupProgramModel
@using GroupQuestionnaireApp.EFModel

@{
    ViewBag.Title = GroupPackageApp.Resources.Group.Views.Resource.PageTitleSelectGroupProgram;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row section">
    <div class="col-sm-12">
        <div class="row paragraph">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2>@GroupPackageApp.Resources.Group.Views.Resource.PageTitleSelectGroupProgram</h2>
                <p>@GroupPackageApp.Resources.Group.Views.Resource.PageDescriptionSelectGroupProgram</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
        @using (Html.BeginForm("StartTest", "Test", FormMethod.Post, new { id = "form-SelectProgram" }))
        {
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    @*<div class="row">
                        <div class="col-sm-6">
                            <div class="entityIdentifier-group">
                                <input disabled="disabled" title="@Model.ClientID" data-jvfloat="True" placeholder="Client ID" class="entityIdentifier-input" value="@Model.ClientID" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="entityIdentifier-group">
                                <input disabled="disabled" title="@Model.IntakeFileID" data-jvfloat="True" placeholder="Intake ID" class="entityIdentifier-input" value="@Model.IntakeFileID" />
                            </div>
                        </div>
                    </div>*@

                    @Html.ValidationMessage("SelectedProgram")
                    @foreach (var item in @Model.Programs as List<GroupProgram>)
                    {
                        <div class="checkboxcontainer">
                            <input class="SelectedTests" name="SelectedTests" type="checkbox" id="@item.SelectorID" value="@item.SelectorID" />
                            <label class="checkboxlabel" for="@item.SelectorID"><span></span><span class="padder"></span>@item.ProgramDisplayName</label>
                        </div>
                    }

                    <button class="btn" id="SelectTestSubmit" title="@GroupPackageApp.Resources.Test.Views.Resource.BtnNext" type="submit" value="@GroupPackageApp.Resources.Test.Views.Resource.BtnNext">@GroupPackageApp.Resources.Test.Views.Resource.BtnNext<i class="fa fa-caret-right"></i></button>
                    @*<a class="btn back" href="@Url.Action("ValidateClient", "Home")" title="@Questionnaire.Resources.Home.Views.Resource.BtnBack">@Questionnaire.Resources.Home.Views.Resource.BtnBack</a>*@
                    @Html.Hidden("ClientID")
                    @Html.Hidden("IntakeFileID")
                    @Html.Hidden("IsPreSession")
                </div>
                <div class="col-sm-3"></div>
            </div>
        }
    </div>
</div>
<script>
    (function () {

        $.validator.addMethod("oneselected",
            function (value, element) {
                return $(".SelectedProgram:checked").length > 0;
            });

        Utilities.validation.ValidateForm($("#form-SelectProgram"), {}, {}, true);

        $('.SelectedProgram').rules('add', {
            oneselected: true,
            messages: { oneselected: '@GroupPackageApp.Resources.Group.Views.Resource.SelectGroupError' }
        });

    })();
</script>