@using GroupQuestionnaireApp.Model

@{
    ViewBag.Title = WebApplication1.Resources.Home.Views.Resource.PageTitleSelectPrePostSession;
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="row section">
    <div class="col-sm-12">
       
        <div class="row paragraph">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2>@WebApplication1.Resources.Home.Views.Resource.PageTitleLanguageSelect</h2>
                <p>@WebApplication1.Resources.Home.Views.Resource.PageDescriptionLanguageSelect</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
        @using (Html.BeginForm("SelectPrePostSession", "Home", FormMethod.Post, new { id = "form-SelectPrePostSession" }))
        {  <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="form-group">
                    @*@Html.DropDownListFor(m => m.Language, Model.LanguageSelectList.ToList(), WebApplication1.Resources.Home.Views.Resource.SelectLanguage, new { placeholder = Html.DisplayNameFor(m => m.Language), data_jvfloat = true })*@
                    @*@Html.Hidden("Language", "en-CA")*@
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row paragraph">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2>@WebApplication1.Resources.Home.Views.Resource.PageTitleSelectPrePostSession</h2>
                <p>@WebApplication1.Resources.Home.Views.Resource.PageDescriptionSelectPrePostSessionTest</p>
            </div>
            <div class="col-sm-2"></div>
        </div>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    @Html.ValidationMessage("SelectedPrePost")
                    
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            @Html.ValidationMessage("SelectLanguageError")
                            @Html.ValidationMessageFor(m => m.Language)
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                  
               
                    <button id="IsPreSession" class="prepostsession btn ellipses" title="@WebApplication1.Resources.Home.Views.Resource.SelectPrePostNotComplete" type="submit" value="IsPreSession">@WebApplication1.Resources.Home.Views.Resource.SelectPrePostNotComplete</button>
                    <button id="IsPostSession" style="display:none;" class="prepostsession btn ellipses" title="@WebApplication1.Resources.Home.Views.Resource.SelectPrePostComplete" type="submit" value="IsPostSession">@WebApplication1.Resources.Home.Views.Resource.SelectPrePostComplete</button>

                    @Html.Hidden("SelectedPrePostSession")
                    @Html.Hidden("ClientID")
                    @Html.Hidden("IntakeID")
                    @Html.HiddenFor(m=>m.SessionTimeStamp)
                    @Html.HiddenFor(m=>m.ClientFirstName)
                    @Html.HiddenFor(m=>m.ClientLastName)
                    @*Html.HiddenFor(m=>m.ClientBirthDate)*@
                    @Html.HiddenFor(m=>m.ClientBD_Day)
                    @Html.HiddenFor(m=>m.ClientBD_Month)
                    @Html.HiddenFor(m=>m.ClientBD_Year)
                </div>
                <div class="col-sm-2"></div>
            </div>
        }
        
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "form-ReValidateClient" }))
                {
                    @Html.HiddenFor(m => m.SessionTimeStamp)
                    @Html.HiddenFor(m=>m.ClientFirstName)
                    @Html.HiddenFor(m=>m.ClientLastName)
                    @*Html.HiddenFor(m=>m.ClientBirthDate)*@
                    @Html.HiddenFor(m=>m.ClientBD_Day)
                    @Html.HiddenFor(m=>m.ClientBD_Month)
                    @Html.HiddenFor(m=>m.ClientBD_Year)
                    <button class="back" type="submit" title="@WebApplication1.Resources.Home.Views.Resource.BtnBack">@WebApplication1.Resources.Home.Views.Resource.BtnBack</button>
                }
            </div>
            <div class="col-sm-3"></div>
        </div>

    </div>
</div>
<script>
    (function () {
       
        $(".prepostsession").click(function () {
            var value = $(this).val();

            $("#SelectedPrePostSession").val(
                value
            );

            $("form").submit();
        });

    })();
</script>